@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f9f9f9;
    min-height: 100vh; /* 100% */
    overflow-x: hidden; /* x축 scroll 금지 */
}
/* 반응형 미디어 쿼리 */
@media screen {
    
}
header {
    position: absolute;
    top: 0; left: 0; 
    width: 100%; 
    padding: 30px 100px;
    display: flex; /* flex layout */
    justify-content: space-between; /* flex 레이아웃 디자인 시, ★ 가로 정렬(균등 분할->padding 필요) */
    /* justify-content: flex-start */
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 100;
}
.logo {
    font-size: 2em; /* 2배 */
    font-weight: 800;
    color: #359381;
    pointer-events: none; /* 마우스 커서를 올렸을 때 어떤 event도 없음 -> hover, active event 사용 불가 */
    background-color: aquamarine;
    border-radius: 20px;
    padding : 10px 15px;
}
.navigation > a {
    text-decoration-line: none;
    color:#359381;
    margin: 0 10px;
    padding: 10px 15px; /* 위아래 6, 좌우 15 */
    border-radius: 20px;
    font-weight: 750;
    background-color: aquamarine;
}
.navigation > a:hover, 
.navigation > a.active /* a 태그 class가 active 일 때 */{
    background-color: #359381;
    color: white;
}
.parallax {
    position: relative;
    /* flex layout */
    display: flex;
    /* 수평, 수직 중앙 정렬*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax > img {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    pointer-events: none;
}

#text {
    position: absolute;
    font-size: 6em;
    font-weight: 900;
    color: floralwhite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.content {
    position: relative;
    background-color: #003329;
    padding: 50px 100px;
}
.content > h2 {
    font-size: 3em;
    font-weight: 600;
    color: floralwhite;
    margin-bottom: 10px;
    text-align: center;
}
.content > p {
    color: white;
}
footer {
    position: relative;
    width: 100%; height: 110px;
    bottom: 0;
    padding-top: 10px;
    text-align: center;
    color: #359381;
    font-size: 0.9em;
    font-weight: 500;
}
footer a {
    text-decoration-line: none;
    color: #003329;
    display: inline-block;
    margin: 0 10px 10px 10px;
}
